<strong>Olá, {{ student }}</strong>
<p>Seja bem vindo a academia Gympoint!</p>
<p>Sua matricula foi realizada com sucesso! Confira os detalhes abaixo:</p>
<p>
  <Strong>Plano: </Strong> {{ plan }} <br />
  <strong>Inicio: </strong> {{ start_date }} <br />
  <strong>Termino: </strong> {{ end_date}} <br />
  <strong>Valor mensal: </strong> R${{ price }} <br />
  <strong>Valor total: </strong> R${{ total_price}} <br />
  <br />
  <small>
    Você pode fazer até 5 chekins durante 7 dias corridos.
  </small>
</p>
